@model InventoryForcast.Models.Calculations.MonthlyTotal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MonthlyTotal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity_Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity_Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absolute_Quantity_Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absolute_Quantity_Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
