@model IEnumerable<InventoryForcast.Models.Calculations.MonthlyTotal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity_Sold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Absolute_Quantity_Sold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity_Sold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Absolute_Quantity_Sold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
